.backpattern {
    /* background-image: url('polygon2.png'); */
    background-color: #eeeeee;
}

a,
.link,
.link:visited {
    color: black;
    text-decoration: none;
}

a:hover,
.link:hover {
    text-decoration: none;
    color: #00adb5!important;
}

.box,
.raleway {
    font-family: 'Raleway', sans-serif;
}

.box:hover {
    position: relative;
    bottom: 5px;
    transition: all 10s linear;
}

.black {
    background-color: #393e46;
}

.createPost {
    color: #00adb5;
}

.createPost:hover {
    transform: scale(1.2);
    transition: all 0.1s;
}

.btn-custom {
    background-color: #00adb5;
    color: white;
}

.btn-custom:hover,
.btn-custom:active {
    background-color: #128288;
    color: white;
}

.btn-custom:disabled {
    background-color: #00adb5;
    color: white;
    cursor: not-allowed;
}

.dropdown-toggle::after {
    display: none;
}