.backpattern {
    /* background-image: url('polygon2.png'); */
    background-color: #eeeeee;
}

a,
.link,
.link:visited {
    color: black;
    text-decoration: none;
}

a:hover,
.link:hover {
    text-decoration: none;
    color: #00adb5!important;
}

.box,
.raleway {
    font-family: 'Raleway', sans-serif;
}

.box:hover {
    position: relative;
    bottom: 5px;
    transition: all 10s linear;
}

.black {
    background-color: #393e46;
}

.createPost {
    color: #00adb5;
}

.createPost:hover {
    transform: scale(1.2);
    transition: all 0.1s;
}

.btn-custom {
    background-color: #00adb5;
    color: white;
}

.btn-custom:hover,
.btn-custom:active {
    background-color: #128288;
    color: white;
}

.btn-custom:disabled {
    background-color: #00adb5;
    color: white;
    cursor: not-allowed;
}

.dropdown-toggle::after {
    display: none;
}

.lds-circle {
    display: inline-block;
    transform: translateZ(1px);
}

.lds-circle>div {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    background: lightblue;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle {
    0%,
    100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
        transform: rotateY(3600deg);
    }
}